

html {
	background-color: #dedede;
	background-image: url(/img/bg-r.png), url(/img/bg-l.png), url(/img/bg.jpg);
	margin: 0;
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-position: bottom right, bottom left, top center;
	background-attachment: fixed,fixed,scroll;
}

#body_background {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    left: -130px;
    top: 130px;
    position: fixed;
    width: 130px;
    z-index: 99999;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-border-radius: 0 0 3px 0;
     -khtml-border-radius: 0 0 3px 0;
       -moz-border-radius: 0 0 3px 0;
         -o-border-radius: 0 0 3px 0;
            border-radius: 0 0 3px 0;

}
#body_background::before {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	content: "\f110";
	height: 30px;
	position: absolute;
	right: -30px;
	width: 30px;
	color: #FFF;
	font: 18px/29px 'FontAwesome';
	text-indent: 7px;
	cursor: pointer;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
	-webkit-border-radius: 0 3px 3px 0;
	-khtml-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}
#body_background:hover {left:0;}
#body_background img {height:55px; width:120px; margin:5px;}
.postbit .userinfo, .postbit .userinfo_noavatar {
	background: #f3f3f3 none !important;
	_background-image: none !important;
	clear: both;
	height: auto !important;
	border-bottom: 1px solid #e9e9e9 !important;
	padding: 0.5em 0 !important;
	width: 100% !important;
	float: right !important;
}
